<div class="mt-5 container-sm d-flex flex-column align-items-center">
  <i class="fa-brands fa-java position-relative" style="top: 20px; left: -350px; transform: rotate(17deg); font-size: 100px; margin-bottom: -100px"></i>
  <i class="fa-brands fa-js position-relative" style="top: 20px; left: 350px; transform: rotate(-27deg); font-size: 100px; margin-bottom: -100px"></i>
  <i class="fa-brands fa-gitlab position-relative text-git" style="top: 300px; left: -450px; transform: rotate(-26deg); font-size: 100px; margin-bottom: -100px"></i>
  <i class="fa-brands fa-angular position-relative" style="top: 300px; left: 450px; transform: rotate(15deg); font-size: 100px;"></i>
  <img src="img/LogoGitMate.png" height="200px">
  <h1 class="mt-5">"Developer's Social Network"</h1>
  <a href="login" class="mt-5 btn btn-git big-btn">Join Now</a>
  <a href="main" class="my-5">I already have an account</a>
  <img src="Feature1.png" class="my-5 py-5" height="400px">
  <img src="Feature2.png" class="my-5 py-5" height="400px">
</div>
