<app-nav-bar (onToggle)="Toggle()"></app-nav-bar>
<main class="row container-xxl mx-auto" (window:resize)="update()">
  @if (AsideToggle || PageWidth > 770) {
    <section class="col-12 col-md-4 m-2">
      <h2 class="fs-5 d-none d-lg-block">Active Project Servers</h2>
      <h2 class="fs-6 d-block d-lg-none">Active Project Servers</h2>
      <a href="/server" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/LogoGM.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">GitMate</p>
      </a>
      <a href="/server" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/angularjs.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">Angular</p>
      </a>
    </section>
  }
  <section class="col-12 col-md-7 p-3">
    <form id="addPost" class="bg-negro p-2 rounded-4 row justify-content-between p-3">
      <textarea class="bg-negro-claro w-100 rounded-4 p-3 text-blanco form-control mb-2 input-resizable" rows="4" placeholder="What's up?" required></textarea>
      <select class="bg-negro-oscuro border-0 rounded text-white fw-bold col-md-2 col-3" style="font-size: 12px; padding: 0.3rem 0.3rem; field-sizing: content;">
        <option>Question</option>
        <option>Offer</option>
        <option>Seek</option>
        <option>Help</option>
      </select>
      <button class="btn btn-git text-white col-3" type="submit">Send</button>
    </form>
    <section class="p-4">
      <label class="fw-bold me-5 mb-3">
        Category:
          <select class="bg-negro border-0 rounded text-white fw-bold" style="font-size: 12px; padding: 0.3rem 0.3rem; field-sizing: content;">
            <option>Question</option>
            <option>Offer</option>
            <option>Seek</option>
            <option>Help</option>
          </select>
      </label>
      <label class="fw-bold">
        Technology:
        <select class="bg-negro border-0 rounded text-white fw-bold" style="font-size: 12px; padding: 0.3rem 0.3rem; field-sizing: content;">
          <option>Java</option>
          <option>Angular</option>
          <option>Python</option>
          <option>DJango</option>
          <option>SpringBoot</option>
          <option>CSS</option>
          <option>HTML5</option>
        </select>
      </label>
    </section>
    <app-post-component [Post]="testPost" ></app-post-component>
    <app-post-component [Post]="testPost" ></app-post-component>
  </section>
</main>
