<app-nav-bar (onToggle)="Toggle()"></app-nav-bar>
<main class="row container-xxl" (window:resize)="update()">
  @if (AsideToggle || PageWidth > 770) {
    <section class="col-12 col-md-4 m-2">
      <h2 class="fs-5 d-none d-lg-block">Active Project Servers</h2>
      <h2 class="fs-6 d-block d-lg-none">Active Project Servers</h2>
      <a href="#" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/LogoGM.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">GitMate</p>
      </a>
      <a href="#" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/angularjs.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">Angular</p>
      </a>
    </section>
  }
  <section class="col-12 col-md-7 p-3">
    <form class="bg-negro p-2 rounded-4">
      <textarea class="bg-negro-claro w-100 rounded-4 p-3 text-secondary form-control mb-2" rows="4" placeholder="What's up?" required></textarea>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Question
        </button>
        <ul class="dropdown-menu bg-body">
          <li><a class="dropdown-item bg-primary rounded" href="#">Question</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item bg-danger rounded" href="#">Another action</a></li>
          <li><a class="dropdown-item bg-info rounded" href="#">Another action</a></li>
          <li><a class="dropdown-item text-bg-warning rounded" href="#">Another action</a></li>
        </ul>
      </div>
      <button class="btn btn-git" type="submit">Send</button>
    </form>
  </section>
</main>
