<app-nav-bar (onToggle)="Toggle()"></app-nav-bar>
<main class="row container-xxl mx-auto" (window:resize)="update()">
  @if (AsideToggle || PageWidth > 770) {
    <section class="col-12 col-md-4 m-2">
      <h2 class="fs-5 d-none d-lg-block">Active Project Servers</h2>
      <h2 class="fs-6 d-block d-lg-none">Active Project Servers</h2>
      <a href="/server" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/LogoGM.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">GitMate</p>
      </a>
      <a href="/server" class="mx-3 d-flex flex-row my-2 link-lead">
        <img src="img/angularjs.png" height="30px" alt="GitMate">
        <p class="text-lead my-auto">Angular</p>
      </a>
    </section>
  }
  <section class="col-12 col-md-7 p-3">
    <form class="bg-negro p-2 rounded-4 row justify-content-between p-3">
      <textarea class="bg-negro-claro w-100 rounded-4 p-3 text-blanco form-control mb-2 input-resizable" rows="4" placeholder="What's up?" required></textarea>
      <app-tag-selector class="col-2"></app-tag-selector>
      <button class="btn btn-git text-white col-3" type="submit">Send</button>
    </form>
    <section class="p-4">
      <label class="fw-bold me-5 mb-3">
        Category:
        <app-tag-selector></app-tag-selector>
      </label>
      <label class="fw-bold">
        Technology:
        <select class="bg-negro border-0 rounded text-white fw-bold" style="font-size: 12px; padding: 0.3rem 0.3rem; field-sizing: content;">
          <option>Java</option>
          <option>Angular</option>
          <option>Python</option>
          <option>DJango</option>
          <option>SpringBoot</option>
          <option>CSS</option>
          <option>HTML5</option>
        </select>
      </label>
    </section>
    <article class="bg-negro p-2 rounded-4 row p-3 mb-3">
      <section class="d-flex flex-row flex-wrap mb-2">
        <img src="./img/UserPFP.png" class="me-2" height="50px">
        <div>
          <h1 class="fs-3 mb-0">Username</h1>
          <p class="text-lead">&#64;UniqueUsername</p>
        </div>
      </section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at pellentesque mi, in semper nunc. Nunc lacinia lectus et interdum posuere. Curabitur in diam urna. Aliquam vel pharetra urna, vitae volutpat elit. Nullam ornare tincidunt vehicula. Integer nec purus ac sapien sollicitudin dignissim. Etiam tortor erat, malesuada non sagittis in, consectetur at tortor.</p>
      <img src="img/code.png">
    </article>
    <article class="bg-negro p-2 rounded-4 row p-3 mb-3">
      <section class="d-flex flex-row flex-wrap mb-2">
        <img src="./img/UserPFP.png" class="me-2" height="50px">
        <div>
          <h1 class="fs-3 mb-0">Username</h1>
          <p class="text-lead">&#64;UniqueUsername</p>
        </div>
      </section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at pellentesque mi, in semper nunc. Nunc lacinia
        lectus et interdum posuere. Curabitur in diam urna. Aliquam vel pharetra urna, vitae volutpat elit. Nullam ornare tincidunt vehicula. Integer nec purus ac sapien sollicitudin dignissim. Etiam tortor erat, malesuada non sagittis in, consectetur at tortor.
        <br>
        Ut at pellentesque mi, in semper nunc. Nunc lacinia lectus et interdum posuere. Curabitur in diam urna. Aliquam vel pharetra urna, vitae volutpat elit.
      </p>
    </article>
  </section>
</main>
