<nav class="navbar sticky-top bg-negro">
  <button (click)="Toggle()" class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/main" class="ms-4">
    <img src="./img/LogoGitMate.png" height="40px">
  </a>
  <form class="d-flex mx-3">
    <button class="p-2 text-white btn">
      <i class="fa-solid fa-message fa-xl"></i>
    </button>
    <button class="btn">
      <img src="./img/UserPFP.png" height="40px" alt="">
    </button>
  </form>
</nav>
