<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Question
  </button>
  <ul class="dropdown-menu bg-negro p-2">
    <li><a class="text-center dropdown-item bg-primary rounded fw-bold mb-3" (click)="console.log('Question')">Question</a></li>
    <li><a class="text-center dropdown-item bg-warning rounded fw-bold mb-2" (click)="console.log('Offer')">Offer</a></li>
    <li><a class="text-center dropdown-item bg-success rounded fw-bold mb-2" (click)="console.log('Seek')">Seek</a></li>
    <li><a class="text-center dropdown-item bg-danger rounded fw-bold" (click)="console.log('Help')">Help</a></li>
  </ul>
</div>
