// Required
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Colores Personalizados
$git:     #f44d27 !default;
$negro:   #1f1f1f !default;
$blanco:  #f1f1f1 !default;
$lead:    #6f6f6f !default;
$primary: #2e64d0 !default;
$warning: #d0c22e !default;
$danger:  #d02e2e !default;
$success: #41d02e !default;

$negro-100: tint-color($negro, 20%) !default;
$negro-200: tint-color($negro, 15%) !default;
$negro-300: tint-color($negro, 10%) !default;
$negro-400: tint-color($negro, 5%) !default;
$negro-500: tint-color($negro, 3%) !default;
$negro-600: shade-color($negro, 20%) !default;
$negro-700: shade-color($negro, 40%) !default;
$negro-800: shade-color($negro, 60%) !default;
$negro-900: shade-color($negro, 80%) !default;

$negros: (
  "negro-100": $negro-100,
  "negro-200": $negro-200,
  "negro-300": $negro-300,
  "negro-400": $negro-400,
  "negro-500": $negro-500,
  "negro-600": $negro-600,
  "negro-700": $negro-700,
  "negro-800": $negro-800,
  "negro-900": $negro-900
) !default;

$custom-colors: (
  "git": $git,
  "negro": $negro,
  "negro-claro": $negro-500,
  "blanco": $blanco,
  "lead" : $lead,
  "negro-oscuro": $negro-600
);


// Default variable overrides
$body-bg: $negro-400;
$body-color: #f1f1f1;

$btn-font-weight: bold;

$font-family-sans-serif: Rubik;

$link-color: $lead;

$input-focus-border-color: $git;
$input-focus-box-shadow: none;
$input-border-color: $lead;
$input-placeholder-color: $lead;
$input-color: $negro;
$input-bg: $blanco;

$dropdown-link-hover-color: $negro;

$dropdown-min-width: 0px;

$form-check-input-checked-bg-color: $git;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// mapas de color (no se suele tocar)
$colors: map-merge($colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Also Required
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/forms";

// etc
@import "../node_modules/bootstrap/scss/bootstrap";

textarea {
  field-sizing: content;
  resize: none;
}

.big-btn {
  color: $negro;
  font-size: 1.5rem;
  padding: 5px 10px;
  box-shadow: 5px 5px 0 #b0371c;
  &:hover {
    box-shadow: 0 0 0 #b0371c;
    background-color: $git;
  }
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
  font-size: 0.7rem;
  height: fit-content;
  padding: 0.2rem 0.4rem;
}


.dropdown-menu {
  border: 1px solid $negro-100;
}

.form-control {
  box-shadow: inset -1px 1px 4px $negro-100;
  &:focus{
    box-shadow: inset -1px 1px 10px $negro-100;
  }
}
